.navbar-brand {
  padding-top: 0;
  margin-top: -10px;
}

.nav-logo {
  max-width: 85px;
}

#portfoliowrap {
  padding-top: 0;
}

.facebook-iframe {
  width: 360px;
  min-height: 600px;
  border: thin;
  overflow: hidden;
}

.col-lg-4 {
  width: 25%;
}

.bg {
  border-radius: 18px;
}

.download-link {
  width: 100%;
}

.teamInfoText {
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}

.portfolio-item p {
  margin: 0;
}

.tpl6 .dmbutton {
  display: inline-block;
  margin-top: 5px;
  font-size: 13px;
}

.tpl6 h3 {
  padding-top: 15px;
}